name: Discord Minutes

on:
  push:
    branches:
      - master
    paths:
      - general/minutes/*.md

jobs:
 changed_files:
    runs-on: ubuntu-latest
    name: Get the new meeting minutes
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45

      - name: Get minutes
        id: contents
        env:
          ADDED_FILES: ${{ steps.changed-files.outputs.added_files }}
        run: |
          for file in ${ADDED_FILES}; do
            echo "$file!"
          done

      - name: Discord Webhook Action
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          filename: ${{ steps.changed-files.outputs.added_files }}
